/** Tamaño del Cuerpo del documento **/
html, body {
    height:100%;
}
/** Estilo del Cuerpo del documento **/
/** - Tipo de letra, Color e Imágen del Fondo, Inclute el color de la sección al final del documento que contiene los datos de la papelería **/
body{
	font-family: Cambria, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
	background: #A5DBF0 url(imagenes/primavera.png) repeat top left;
	font-weight: 400;
	font-size: 20px;
	/* color de la fuente para todo el BODY */
	color: #585858;
	overflow-y: scroll;
}
/** Logo, Menu y facebook */
#header{
	position: absolute;
	z-index: 2000;
    left: 0px;	
	width: 205px;
	top: 120px;
}
/** Diseño del rectángulo que alberga el logo de la Papelería */
#logo{
	position: absolute;
	z-index: 2000;
	width: 112px;
	height: 112px; 	
	top: 5px;
	left: 45px;
	display: table-column;
    -webkit-box-shadow:2px 2px 5px #888888;	
    box-shadow:2px 2px 5px #888888;
    border-radius: 8px;
    padding:0 8px 0 8px;
    margin: auto auto auto auto;
    background: rgba(255, 255, 255, 1);       
}
#googleplus{
	position: absolute;
	z-index: 2000;
	width: 32px;
	height: 32px; 	
	top: 510px;
	left: 90px;
    -webkit-box-shadow:2px 2px 5px #888888;	
    box-shadow:2px 2px 5px #888888;
    margin: auto auto auto auto;
    background: rgba(255, 255, 255, 0);       
}
#facebook{
	position: absolute;
	z-index: 2000;
	width: 32px;
	height: 32px; 	
	top: 560px;
	left: 90px;
    -webkit-box-shadow:2px 2px 5px #888888;	
    box-shadow:2px 2px 5px #888888;
    margin: auto auto auto auto;
    background: rgba(255, 255, 255, 0);       
}
/** Rectángulo que alberga los Botones de Navegación */
#navigation {
	/* margen del tope de la pantalla a donde inicia el primero de los botones de navegación del sitio */	
	margin-top: 20px;
	width: 205px;
	display:block;
	list-style:none;
	z-index:3;
}
/* Bloque con los botones de navegación del sitio*/
#navigation a{
	color: #444;
	display: block;
	background: rgba(151,223,40,0.8);
    /** Separación del borde de cada botón contra el centro del texto que contiene */	
	line-height: 50px;
    /** espaciado top right bottom left */	
	padding: 0px 20px;
	text-transform: uppercase;
	/** Espacio de separación entre un botón de navegación y el otro */	
	margin-bottom: 6px;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	font-size: 14px;
}
/** Color de los botones de navegación cuando el mouse esta encima de ellos */
#navigation a:hover {
	background: #F4FA58;
}
/** Division donde esta el contenido de la página */
.content{
	right: 40px;
	left: 280px;
	top: 0px;
	position: absolute;
	padding-bottom: 30px;
}
/** Configuración del Titulo de la página activa */
.content h2{
	font-size: 55px;
	padding: 10px 0px 20px 0px;
	margin-top: 0px;
	color: #fff;
	color: rgba(255,255,255,0.9);
	text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
}
/** Configuración de la cabecera h3 --- por ejemplo el precio de los artículos en el navegador de artículos destacados */
.content h3{
	font-size: 48px;
	padding: 10px 0px 20px 0px;
	margin-top: 0px;
	color: #fff;
	color: rgba(255,255,255,0.9);
	-webkit-text-fill-color: white;
	-webkit-text-stroke-color: black;
	-webkit-text-stroke-width: 2.5px;		
}
/** Configuración de la cabecera h4 --- Por ejemplo el titulo de las efemerides */
.content h4{
	font-size: 28px;
	padding: 10px 0px 20px 0px;
	margin-top: 0px;
	color: #fff;
	color: rgba(255,255,255,0.9);
	background: #731745;	
	text-shadow: 0px 1px 1px rgba(0,0,0,15);
}
/** Configuración de la cabecera h5 --- Por ejemplo el Titulo Extendido de la página activa */
.content h5{
	font-size: 22px;
	line-height: 24px;
	color: #fff;
	display: inline-block;
	background: #FF411F;
	padding: 10px;
	margin: 3px 0px;
}
/** Formato para los parafos*/
.content p{
	font-size: 22px;
	padding: 10px;
	line-height: 24px;
	color: #fff;
	text-shadow: 0px 1px 1px rgba(0,0,0,1);
}
#works {
	padding: 15px 0px;
}
#works li{
	display: inline;
}
#works li a{
	padding-right: 10px;
}
#works img {
	box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
	padding: 12px; 
	background: rgba(255,255,255,0.9);
}
#form p{
	background: #fff;
	color: #000;
}
#form input, #form textarea{
	background: #000;
	color: #fff;
	border: none;
}
#form textarea{
	width: 253px;
	height: 100px;
}
#form label{
	padding-right: 10px;
	float: left;
}
.footnote a{
	color: #ddd;
}
/** Contenedor del navegador de Artículos */
.dg-container{
	height: 220px;
	position: relative;
}
/** */
.dg-wrapper{
	width: 241px;
	height: 66px;
	margin: 0 auto;
	position: relative;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	-o-perspective: 1000px;
	-ms-perspective: 1000px;
	perspective: 1000px;
}
/** Recuadro que contiene la imagen, la descripción y el precio del artículo **/
.dg-wrapper a{
	width: 246px;
	height: 206px;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	background: rgba(255,255,255,0.8) no-repeat top left;
	box-shadow: 0px 10px 20px rgba(0,0,0,0.3);
}
/** Tiempos para la transicíon del Recuadro que contiene la imagen, la descripción y el precio del artículo **/
.dg-wrapper a.dg-transition{
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
/** Recuadro d la imágen del artículo */
.dg-wrapper a img{
	display: block;
	padding: 1px 0px 0px 1px;
}
.dg-wrapper a div{
	font-style: italic;
	text-align: center;
	line-height: 50px;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
	color: #333;
	font-size: 16px;
	width: 100%;
	bottom: -55px;
	display: none;
	position: absolute;
}
.dg-wrapper a.dg-center div{
	display: block;
}
/** Recuadro que contiene los botones para controlar el avance del navegador de artículos */
.dg-container nav{
	width: 70px;
	position: absolute;
	z-index: 1000;
	bottom: -40px;
	left: 50%;
	margin-left: -29px;
}
/** Imagen de los dos botones de control del navegador de artículos */
.dg-container nav span{
	text-indent: -9000px;
	float: left;
	cursor:pointer;
	width: 24px;
	height: 25px;
	opacity: 0.8;
	background: transparent url(imagenes/arrows.png) no-repeat top left;
}
/** cuando el cursor esta sobre uno de los botones de navegación, este se vuelve más nitido */
.dg-container nav span:hover{
	opacity: 1;
}
/** posición y separación entre los botones de navegación */
.dg-container nav span.dg-next{
	background-position: top right;
	margin-left: 10px;
}
#footer{
	position: absolute;
	z-index: 2000;
	width: 100%;
	height: 200px;
	bottom: 0px;
	background: #000;
}
